@font-face {
    font-family: 'Belligerent Madness';
    src: url('BelligerentMadness.woff2') format('woff2'),
        url('BelligerentMadness.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hodor';
    src: url('Hodor-Regular.woff2') format('woff2'),
        url('Hodor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Game of Thrones';
    src: url('GameofThrones.woff2') format('woff2'),
        url('GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

