@font-face {
    font-family: 'Madness';
    src: url('BelligerentMadness.woff2') format('woff2'),
        url('BelligerentMadness.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hodor';
    src: url('Hodor-Regular.woff2') format('woff2'),
        url('Hodor-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Thrones';
    src: url('GameofThrones.woff2') format('woff2'),
        url('GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    background-color: black;
}

.jumbotron {
    background-image: url('../images/banner2.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding: 0px;
    margin-top: 20%;
}

/* .background {
    background-image: url('../images/banner2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.game-body {
    background-image: url('../images/snow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: 'Thrones';
    color: white;
    text-align: center;
}

#tries {
    font-size: 100px;
}

p {
    font-size: 60px;
    font-family: 'Madness';
}

.button {
    padding: 0;
border: none;
background: none;
}

#alphabet {
    font-family: 'Hodor';
    font-size: 55px;
}